body {
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box;
}
.card {
  padding: 16px;
  margin: auto;
  border-radius: 20px;
  max-width: 480px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  color: white;
  position: relative;
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.card-footer {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  font-weight: 700;
  transition: transform 0.1s;
}
.btn.mau {
  background-color: #01e675;
  color: white;
}
.btn.gak {
  border: 1px solid white;
  background-color: #b80316;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.latin {
  font-family: "Brush Script MT";
}

.text-center {
  text-align: center;
}
.img-thumb {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.mt-16 {
  margin-top: 16px;
}
.info {
  font-weight: 700;
  margin-bottom: 16px;
}
.water-mark a {
  text-decoration: none;
  color: white !important;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.water-mark a:hover {
  text-decoration: none;
  color: rgba(19, 96, 240, 0.933) !important;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
#musicbox {
  visibility: hidden;
}
